* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #273c75;
    display: flex;
    justify-content: center;
    align-items: center;
}

a,
a:hover {
    text-decoration: none;
}

.searchBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchText {
    width: 0rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    transition: all 0.2s linear;
}

.searchText:focus {
    outline: none;
}

.searchBtn {
    width: 5rem;
    height: 5rem;
    background-color: #192a56;
    color: #fff;
    position: absolute;
    display: grid;
    place-items: center;
    right: 1rem;
    border-radius: 50%;
}

.searchBox:hover>.searchText {
    width: 25rem;
    padding: 2.2rem;
    box-shadow: 0 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
}

.searchBox:hover>.searchBtn {
    background: #fff;
    color: #192a56;
}